# Metadata: 
*  @Autor:Rafael Esteban Torres Herreño
*  @Date:2022/Feb/12
*  @Description:This python notebook shows basic exercises in python.

In [ ]:
# Ejercios Básicos

## Ejercicio 1: Productos + Iva

###Versión normal

In [ ]:
prod1=int(input("Input first product:"))
prod2=int(input("Input second product:"))
prod3=int(input("Input third product:"))
prod4=int(input("Input fourth product:"))
prod5=int(input("Input fifth product:"))
suma=(prod1+prod2+prod3+prod4+prod5)
iva=suma *0.19
total=suma+iva
print("Valor bruto",suma,"\nIVA:",iva,"\nTOTAL:",total)}

Input first product:2000
Input second product:5000
Input third product:8000
Input fourth product:3000
Input fifth product:3000
Valor bruto 21000
IVA: 3990.0
TOTAL: 24990.0

###Versión Python

In [ ]:
pro1,pro2,pro3,pro4,pro5=input("input 1°,2°,3°,4° and 5° products, separate with comma:").split(",")
suma=(pro1+pro2+pro3+pro4+pro5)
print("Valor bruto",suma,"\nIVA:",iva,"\nTOTAL:",total)

input 1°,2°,3°,4° and 5° products, separate with comma:4000, 8000, 2000, 4000, 9000
Valor bruto 4000 8000 2000 4000 9000
IVA: 3990.0
TOTAL: 24990.0

##Ejercicio 2

###Versión normal

In [ ]:
var1=float(int(input("Enter the first number: ")))
var2=float(int(input("Enter the second number: ")))
var3=float(int(input("Enter the third number: ")))

if (var1 >= var2) and (var1 >= var3):
   largest = var1
elif (var2 >= var1) and (var2 >= var3):
   largest = var2
else:
   largest = var3

print("The largest number is", largest)

if (var1 <= var2) and (var1 <= var3):
  smallest = var1
elif (var2 <= var1) and (var2 <= var3):
   smallest = var2
else:
   smallest = var3

print("The smallest number is", smallest)

sum=var1+var2+var3

average=sum/3

print("The average is", average)

Enter the first number: 5
Enter the second number: 3
Enter the third number: 2
The largest number is 5.0
The smallest number is 2.0
The average is 3.3333333333333335

###Versión Python

In [ ]:
var1,var2,var3=input("Enter 3 numbers separated by comma:").split(",")
print("The largest number is:"+str(max(int(var1),int(var2),int(var3))),"The smallest number is: "+str(min(int(var1),int(var2),int(var3))), "The average is: "+ str((int(var1)+int(var2)+int(var3))/3))

Enter 3 numbers separated by comma:9, 8, 7
The largest number is:9 The smallest number is: 7 The average is: 8.0

##Ejercicio 3

###Versión normal

In [ ]:
list1 = []
num = int(input("Enter number of elements in list: "))
total_sum=0
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
    total_sum += ele

print("List:",list1)

list1.sort()
print("Sorted list in ascending order:",list1)

list1.sort(reverse = True)
print("Sorted list in descending order:",list1)

maximum = max(list1)
print("The largest number is:",maximum)

smallest = min(list1)
print("The smallest number is:",smallest)

avg = total_sum/num
print("The average is:", avg)

Enter number of elements in list: 5
Enter elements: 5
Enter elements: 8
Enter elements: 9
Enter elements: 1
Enter elements: 3
List: [5, 8, 9, 1, 3]
Sorted list in ascending order: [1, 3, 5, 8, 9]
Sorted list in descending order: [9, 8, 5, 3, 1]
The largest number is: 9
The smallest number is: 1
The average is: 5.2

###Versión Python

In [1]:
list1 = []
num = int(input("Enter number of elements in list: "))
total_sum=0
for i in range(1, num + 1):
    ele= int(input("Enter elements: "))
    list1.append(ele)
    total_sum += ele

print("List:",list1)

list1.sort()
print("Sorted list in ascending order:",list1)

list1.sort(reverse = True)
print("Sorted list in descending order:",list1)

print("The largest number is:",maximum, "\nThe smallest number is:",smallest, "\nThe average is:",avg)

Enter number of elements in list: 4
Enter elements: 3
Enter elements: 9
Enter elements: 6
Enter elements: 8
List: [3, 9, 6, 8]
Sorted list in ascending order: [3, 6, 8, 9]
Sorted list in descending order: [9, 8, 6, 3]

NameError: ignored